.middle{
    .showBoard{
        .leftBoard{
            .proclamation{
                .proclamation_content{
                    li{ 
                        display: flex;
                        :before{
                            position: relative;
                            display: inline-block;
                            margin: 0 8px;
                            content: '';
                            width: 6px;
                            height: 6px;
                            transform: rotate(45deg);
                            border: 1px solid #5a92cd;
                            .left-news1{
                                flex: 8;
                                margin: 0 4px;
                                font-size: 18px;
                                font-family: 'STHeitiSC-Light';
                                height: 19px;
                                line-height: 19px;
                                text-align: center;
                            }
                            .right-time1{
                                flex: 1;
                                font-size: 16px;
                                font-family: 'STHeitiSC-Light';
                                height: 19px;
                                line-height: 19px;
                                text-align: center;
                            }
                        } 
                    }
                }
            }
        }
    }
}